.bubble-item-container {
  border-radius: 1rem;
  margin: 1rem;
  padding: 1rem;
  width: 15.4rem;
  color:white;
  background:#05aded;
}

.bubble-item-message {
  font-size: 1.2rem;
  padding-top: 1rem;
  padding-left: 1rem;
}
.bubble-item-upvotes {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.bubble-item-container button{
  border: none;
  text-decoration: none;
  background: white;
  color: black;
  padding: 0.3rem;
  margin: 0.2rem;
  cursor: pointer;
  float:right;
  font-size: 0.9rem;
  border-radius: 0.2rem
}

.bubble-item-link {
  text-decoration: none;
  color:black;
  background:white;
}