.login-form{
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

.form-submit-button {
  border: none;
  color: white;
  background: teal;
  font-size: 1.5rem;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.5rem;
  border-bottom:  0.2rem solid darken(teal, 10%)
}
.form-items {
  margin: 1rem;
  font-size: 1.5rem;
}

.form-items label {
  margin: 1rem;
  padding: 0.25rem;
}
.form-items input {
  font-size: 1.5rem;
  text-align: center;
}